@import "../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "../node_modules/react-datepicker/dist/react-datepicker-cssmodules.css";

:root {
  --navbar-height: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table,
form {
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  padding-top: var(--navbar-height);
  padding-right: 5%;
  padding-left: 5%;
}
